// +font-face('my_font',font-files('../fonts/my_font.ttf', truetype, '../fonts/my_font.otf', opentype), '../fonts/my_font.eot')

$WIDTH_MIN: 320px
$WIDTH_MAX: 960px

$FONT_0: "Lucida Grande", "Tahoma", Arial, sans-serif

$COLOR_0: #111

// TAGS

body
  font: normal 12px $FONT_0
  color: $COLOR_0

a
  +pressed-effect

p, b, strong, i, blockquote
  line-height: 1.5em

// CLASS

.wrap
  +centerX
  +min-max-width($WIDTH_MIN, $WIDTH_MAX)
